@model IEnumerable<lawzand.Models.projectview>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Kurdi.cshtml";
}

@section style{

    <script src="~/Content/main/fancyjs/jquery.fancybox.min.js"></script>
    <link href="~/Content/main/fancyjs/jquery.fancybox.min.css" rel="stylesheet" />
}


    <div class="maincontent" style="direction:ltr">
        <div class="header">
            <h4> گەلەری</h4>
            <div class="liner-wrapper"><div class="line-divider"></div><div class="liner-dot"></div><div class="liner-dot right"></div></div>
        </div>
        <div class="detaildiv" style="direction:rtl">
            @foreach (var s in Model)
            {<div class="gallerysection">
                    <a data-fancybox="gallery" class="image" href="~/Content/images/@s.pic"><img src="~/Content/images/@s.pic" width="300" /></a>
                </div>}
        </div>
    </div>
        <div class="partner">

        </div>



     
