
@{
    ViewBag.Title = "InvalidInput";
    Layout = "~/Views/Shared/_Kurdi.cshtml";
}

<div class="maincontent">
    <div class="detailheader">
        <h4>
            ببورە کێشەیەک هەیە<br />

            عذرآ هناک خطاء
            <br />
            Sorry there is seems to be some Error
        </h4>
        <div class="liner-wrapper2"><div class="line-divider2"></div><div class="liner-dot2"></div><div class="liner-dot2 right"></div></div>
    </div>


    <br />
    <br />

</div>

<div class="partner">
    <div class="maincontent" dir="ltr">
        <div class="headerc">
            <h4></h4>
        </div>

    </div>
</div>
