@using lawzand.Models
@{
    ViewBag.Title = "Admin Partners";
    lawzandEntities1 dbb = new lawzandEntities1();
}




<div class="jumbotron">
    <h1>Partners</h1>
    <h3>When Adding new Partner it will automaticaly show on your website</h3>
    <p><a href="~/Adminpanel/Addpartners" class="btn btn-primary btn-lg">Create New &raquo;</a></p>
</div>


<div class="row">

    @{
        try
        {

    <ul class="nav nav-tabs">

        <li><a data-toggle="tab" href="#0"></a></li>
        @foreach (langtbl aa in dbb.langtbls.ToList())
        {

            <li><a data-toggle="tab" href="#@aa.language">@aa.language</a></li>


        }




    </ul>

            <div class="tab-content">










                @foreach (langtbl aa in dbb.langtbls.ToList())
                {



                    <div id="@aa.language" class="tab-pane">

                        @foreach (partnertbl s in dbb.partnertbls.Where(x => x.lang == aa.id).ToList().OrderByDescending(x => x.partnerId))
                        {<div class="col-md-4">

                                <h3> @s.partnername</h3>


                                <img src="~/Content/images/@s.thumb" class="img-responsive img-thumbnail" style="height:200px; width:350px" />
                                <hr />
                                <p>
                                    <a class="btn btn-danger" id="@s.partnerId" href="#" onclick="return deletepartner(this.id)">Delete &raquo;</a>
                                    <a class="btn btn-success" href="/Adminpanel/Addpartners/@s.partnerId">Edit &raquo;</a>

                                </p>


                            </div>

                        }


                    </div>



                }



            </div>











        }
        catch { }
    }

</div>




<script>

    function deletepartner(id) {


        Swal.fire({
            title: 'Do you want to delete selected Partner?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Delete',

        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: "/Adminpanel/deletepartner",
                    data: '{pid: ' + id + ' }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {



                        if (response == "deleted succefully") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: response,
                                showConfirmButton: false,
                                timer: 2000
                            })

                            setTimeout(() => { window.location = '/Adminpanel/partners'; }, 3000);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response,

                            })
                        }
                    }
                });



            }
        })
    }

</script>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>}