@model IEnumerable<lawzand.Models.projecttbl>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_English.cshtml";
    @helper StripHTML(string input)
    {
        if (!string.IsNullOrEmpty(input))
        {
            input = Regex.Replace(input, @"(?></?\w+)(?>(?:[^>'""]+|'[^']*'|""[^""]*"")*)>", String.Empty);
            input = input.Replace("&nbsp;", " ");
            <span>@input</span>
        }
    }
}

<div class="maincontent">
    <div class="header">
        <h4>Projects</h4>
        <div class="liner-wrapper"><div class="line-divider"></div><div class="liner-dot"></div><div class="liner-dot right"></div></div>
    </div>




    @foreach (var s in Model)
    {<div class="sampleitem animated wow zoomIn">
            <div class="sampleitemimg">
                <a href="/English/Project/@s.projectId" class="image"><img src="~/Content/images/@s.thumb" /></a>
            </div>
            <div class="sampleitemcontent">
                <a href="/English/Project/@s.projectId">@s.projectname</a>
            </div>
        </div>}


</div>


<div class="partner">
    <div class="maincontent" dir="ltr">
        <div class="headerc">
            <h4></h4>
        </div>

    </div>
</div>