*{appearance:none;-moz-appearance:none;-webkit-appearance:none}
.wrapper { 
background-color: #fff !important;
box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;

}
label[for=main_menu], nav, section#main {
  -moz-transition: all .2s cubic-bezier(.23, 1, .32, 1);
  -o-transition: all .2s cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: all .2s cubic-bezier(.23, 1, .32, 1);
  transition: all .2s cubic-bezier(.23, 1, .32, 1)
}

.logo {
  margin: 0;
  display: block;
  font-size: 1.5em;
  font-weight: 700
}
.logo img{height:60px}
.hamburger {
  padding: .25em .4em;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible
}

.hamburger:hover { opacity: .7 }

.hamburger-box {
  width: 2em;
  height: 24px;
  display: inline-block;
  position: relative
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px
}

input[name=main_menu]:checked~nav, nav { margin: 0 }

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  width: 2em;
  height: 3px;
  background-color: rgb(13, 17, 54);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease
}
.hamburger-inner::after, .hamburger-inner::before {
  content: "";
  display: block
}

.hamburger-inner::before { top: -10px }

.hamburger-inner::after { bottom: -10px }

.hamburger--elastic .hamburger-inner {
  top: 6px;
  transition-duration: 275ms;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 125ms 275ms ease
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 275ms cubic-bezier(.68, -.55, .265, 1.55)
}

.logo {
  color: #fff;

}

header span.logo {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0
}
header span.logo img{height:34px}
label[for=main_menu] {
  display: block;
  font-weight: 700;
  text-align: center;
  position: fixed;
  z-index: 500;
  top: .65em
}
label[for=main_menu2] ,label[for=main_menu2] a{
  display: block;
  font-weight: 700;
  text-align: center;
  position: fixed;
  z-index: 500;
  top: 17px; left:15px;font-size: 21px;
  color: #00adf2; 
}
input[name=main_menu] { display: none }

input[name=main_menu]:checked~nav li:nth-child(6){border-top: 1px solid rgba(255,255,255,.3);}
input[name=main_menu]:checked~nav li.menupostbook{border-top: 15px solid #f1f1f1; text-align:center; padding-top:15px}
input[name=main_menu]:checked~nav li.menupostbook a{color:#fff}
input[name=main_menu]:checked~nav li a {
  color: #666;
  padding: .9em;
  border-bottom: 1px solid #f9f9f9; font-size:14px
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner {
  -moz-transform: translate3d(0, 10px, 0) rotate(135deg);
  -o-transform: translate3d(0, 10px, 0) rotate(135deg);
  -ms-transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  -moz-transition-delay: 75ms;
  -o-transition-delay: 75ms;
  -webkit-transition-delay: 75ms
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner::before {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner::after {
  -moz-transform: translate3d(0, -20px, 0) rotate(-270deg);
  -o-transform: translate3d(0, -20px, 0) rotate(-270deg);
  -ms-transform: translate3d(0, -20px, 0) rotate(-270deg);
  -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
  -moz-transition-delay: 75ms;
  -o-transition-delay: 75ms;
  -webkit-transition-delay: 75ms
}

nav {
  position: fixed;
  top: 0;
  width: 18em;
  height: 100%;
  -moz-transition: all .2s cubic-bezier(.17, .67, .44, .58);
  -o-transition: all .2s cubic-bezier(.17, .67, .44, .58);
  -webkit-transition: all .2s cubic-bezier(.17, .67, .44, .58);
  transition: all .2s cubic-bezier(.17, .67, .44, .58);
 
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 75ms
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0
}

input[name=main_menu]:checked~label .hamburger .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 75ms
}

.left_menu input[name=main_menu]:checked~section, input[name=main_menu]:checked~section {
  -moz-transform: translate3d(18em, 0, 0);
  -o-transform: translate3d(18em, 0, 0);
  -ms-transform: translate3d(18em, 0, 0);
  -webkit-transform: translate3d(18em, 0, 0);
  transform: translate3d(18em, 0, 0)
}

.left_menu input[name=main_menu]:checked~label[for=main_menu] {
  left: 15em;
  -moz-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  -o-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  transition: left .2s cubic-bezier(.23, 1, .32, 1)
}

.right_menu input[name=main_menu]:checked~section {
  -moz-transform: translate3d(-18em, 0, 0);
  -o-transform: translate3d(-18em, 0, 0);
  -ms-transform: translate3d(-18em, 0, 0);
  -webkit-transform: translate3d(-18em, 0, 0);
  transform: translate3d(-18em, 0, 0)
}

.right_menu input[name=main_menu]~label[for=main_menu] { right: .5em;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
}

nav li, nav ul { margin: 0 }

nav {  }

nav ul {
  height: 100%;
  padding: 0;
  list-style: none;
  background-color:#fff; 
}

nav li a {
  -moz-transition-delay: .13s;
  -o-transition-delay: .13s;
  -webkit-transition-delay: .13s;
  transition-delay: .13s
}

nav li a {
  color: rgb(13, 17, 54);
  position: relative;
  display: block; font-family:'Open Sans';
  outline: 0;
  text-decoration: none;  padding:10px; font-size:14px; font-weight:500
}
nav li a i{margin-left:7px;vertical-align:-0.125em}
nav li a:hover{ 
    color:#000;  
    background-color:#F2F2F2}



nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 0.4em 0;
  color: #000;
  position: relative;
  text-decoration: none;
  display: inline-block; font-size:16px; font-weight:600; text-transform:uppercase
}
nav ul li a:before {
  position: absolute;
  content: '';
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 0;
  top: 0%;
  bottom: 100%;
  left: 0;
  right: 0;
  border-top: 0 solid #00adf2;
   border-bottom: 5px solid #00adf2;
}
nav ul li a:hover a {
  color: #000;
}
nav ul li a:hover:before {
opacity: 1;
top: 0px;
bottom:-2px;
}
nav ul li:first-child a:before {
    background-color:none; border:0

    }
nav ul li:first-child a:hover:before{ border:0; background-color:none}




button.primary {
  border: none;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  background-clip: padding-box;
  padding: .8em 1em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.22);
  outline: 0;
  background-position: center;
  -moz-transition: background .8s;
  -o-transition: background .8s;
  -webkit-transition: background .8s;
  transition: background .8s
}

button.primary:hover {
  background: radial-gradient(circle, transparent 1%, #5b97c9 1%) center/15000% #5b97c9;
  box-shadow: none medium
}

button.primary:active {
  background-color: #82afd5;
  background-size: 100%;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -webkit-transition: background 0s;
  transition: background 0s
}

#switch_side {
  width: auto;
  display: block;
  margin: 0 auto
}
@media (min-width:767px) {
#switch_side { display: none }
nav, nav ul { width: auto}
header span.logo, label[for=main_menu] { display: none }
header span.logo, label[for=main_menu2] { display: none }
nav {
  box-shadow: none;
  position: relative;
  margin: 0;
}
nav ul { height: auto ; height:92px }
nav ul li { display: inline-block;   float:right}
nav ul li:first-child{float:left; padding:0 }
nav ul li:first-child a:hover{ border:solid 1px #fff}

nav ul li a {
  left: inherit;
border:solid 1px #fff; line-height:92px; padding:0 25px; margin:0}

}

@media (max-width:767px) {
.wrapper{ padding:10px 0;position:sticky;top:0; z-index:1000; width:100%; }

.left_menu nav li a {
  left: -100%;
  -moz-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  -o-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: left .2s cubic-bezier(.23, 1, .32, 1);
  transition: left .2s cubic-bezier(.23, 1, .32, 1)
}

.left_menu nav {
  left: 0;
  margin-left: -18.8em
}
nav ul{ border-left:solid 1px #eee; }

.left_menu input[name=main_menu]:checked~nav li a { left: 0 }

.left_menu input[name=main_menu]~label[for=main_menu] { left: .5em }

.right_menu nav li a {
  right: -100%;
  -moz-transition: right .2s cubic-bezier(.23, 1, .32, 1);
  -o-transition: right .2s cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: right .2s cubic-bezier(.23, 1, .32, 1);
  transition: right .2s cubic-bezier(.23, 1, .32, 1)
}

.right_menu nav {
  right: 0;
  margin-right: -18.8em;  
}

.right_menu nav .logo {
  text-align: right;
  padding-right: 2.3em
}

.right_menu input[name=main_menu]:checked~nav li a {
  right: 0;
  text-align: left;
  padding-right: 20px
}

nav ul { width: 18em }
.logo{ display:inline-block;}
nav ul li:first-child{text-align:left!important;box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;padding-bottom:2px}
nav ul li:first-child img{height:26px!important; }
nav ul li {
    display:block; width:100%; padding:0; margin:0
}
nav ul li a{
    display:block; width:100%; padding:0; margin:0
}
}
