@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url(font/sf.css);
body {
    background-color:#fff;
    margin: 0;
    padding: 0;
    font-family: NizarReg, sans-serif;font-size:14px; line-height:34px ; color:#333; 
}
a:focus{outline:none}
a{background:0 0; font-size:14px;transition: all 0.4s ease 0s;  font-family: NizarReg, sans-serif; color:rgb(13, 17, 54); text-decoration:none; line-height:25px; }
a:active,a:hover{ outline:0; color:#00adf2; text-decoration:none ;transition: all 0.3s ease 0s; cursor:pointer } /*  transition: all 0.4s ease 0s;*/
img{border:0}
hr {
    clear: both;
    border-color: #e4e4ec;
    margin:10px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}
table {
    border-collapse: collapse;
    border-spacing: 0; margin:0; padding:0
}
p{padding:0; margin:0}
.clear {clear:both}
.maincontent{width:1200px; min-width:1200px; margin:0 auto; direction:rtl}
.menucontent{width:1200px; min-width:1200px; margin:0 auto; direction:rtl}

.topslider{width:100%; height:540px; min-width:100%; direction:rtl}

.header{
    text-align:center;    align-items: center;    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    
    margin-bottom: 60px; padding-top:30px
}
.header h4{    
    margin-top: 0px;
    margin-bottom: 30px;
    color: #111;
    font-size: 18px;
    line-height: 46px;; font-family:NizarBold; display:block;
    text-align: center; margin-bottom:10px
  }
.liner-wrapper {
    position: relative;
    width: 180px;
    margin:0 auto
}
.line-divider {
    height: 1px;
    margin-top: 0px;
    background-color: #00adf2;
}
.liner-dot {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: -3px;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background-color: #00adf2;
}
.liner-dot.right {
    left: auto;
    top: auto;
    right: 0%;
    bottom: -3px;
}

.servicesection{
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3f5fd), to(#fff));
    background-image: linear-gradient(
0deg, #f3f5fd, #fff);
}
.servitem{width:380px; margin:10px; display:inline-block; vertical-align:top}
.servitemimg{width:100%; height:220px}
.servtitle{width:90%; background-color:#fff; padding: 5% 10%;
    border-style: solid;
    border-width: 1px 1px 3px;
    border-color: #e2e8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff; margin:0 auto}
.servtitle h4 {margin-bottom:20px}
.servtitle h4 a i{margin-left:10px; vertical-align:-0.2em;color:#00adf2; font-size:30px}
.servtitle h4 a{font-size:18px;}
.servtitle p{font-size:14px; color:#626a7e}


.morediv{text-align:center; padding:20px 0}
.moreservbtnicon{
    width: 50px;
height: 50px;
border: 2px solid #00adf2; text-align:center; line-height:50px; display:inline-block
}
.morediv span{position:relative; background-color:#f3f5fd;border-radius: 6px; padding:4px 8px; position:relative; margin-right:-15px
}


.sampleitem{width:380px; margin:10px; display:inline-block; vertical-align:top;position: relative;overflow: hidden;}
.sampleitemimg{width:100%; height:330px}

.sampleitem .sampleitemcontent
{
  background-color:#00adf2;
  bottom: -50%;
  color: #fff;
  height: 50px;
  left: 0%;
  text-align: center;
  position: absolute;
  transition: bottom 0.5s ease;
  width: 100%;
}
.sampleitem:hover .sampleitemcontent
{
  bottom: 0%;
}
.sampleitemcontent a{line-height:50px; color:#fff; font-size:16px}
.partner {
    width: 100%;
    min-width: 1200px;
    background-color: #3f74ff;
    padding: 30px 0;
    background-image: linear-gradient(180deg, rgba(63, 116, 255, 0.8), rgba(63, 116, 255, 0.8)), url("images/sq1.svg"), url("images/sq2.svg");
    background-position: 0px 0px, 80% 100%, 10% 0px;
    background-size: auto, 200px, 160px;
    background-repeat: repeat, no-repeat, no-repeat;
    margin-top: 30px
}


.headerc{
    text-align:center;    align-items: center;    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    margin-bottom:20px
}
.headerc h4{    
    margin-top: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 46px; font-family:NizarBold; display:block;
    text-align: center; margin-bottom:10px
  }

.footerr{
padding: 24px;
border-bottom: 3px solid #ecf1ff;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #f0f4ff; width:1200px; min-width:1100px;margin:0 auto; margin-bottom:70px
}
.footerrcontent{width:100%; direction:rtl}
.footerrcolmap{
    width:320px; margin-left:100px; display:inline-block; vertical-align:top
}
.footerrcolmap iframe{
        -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footerrcolpart{width:300px; display:inline-block; vertical-align:top; margin-left:60px; color:#626a7e}
.footerrcolpart h4{
    font-family:NizarBold; color:#111; font-size:15px; margin-top:40px; margin-bottom:20px
}
.footerrcolpart a{color:#626a7e; display:block; margin-bottom:8px}
.footerrcolpart a:hover{color:#111}
.footerrcolpart i{vertical-align:-0.125em; margin-left:20px; color:#00adf2}
.footerrcolpart span{font-family:'Open Sans'; direction:ltr; text-align:right; display:inline-block}

.cosials{padding-top:20px}
.cosials a {
    display:inline-block; vertical-align:top; margin-left:1px; font-size:24px; color:#626a7e
}
.cosials a i{color:#626a7e}

.cosials a i:hover{color:#111}

.underfooter{width:100%; min-width:1200px; background-color:#f0f4ff; padding:20px 0; font-family:'Open Sans'; font-weight:300; color:#626a7e;}
.underfooter .maincontent{direction:ltr}
.underfooter a{color:#00adf2; font-size:16px; font-family:'Open Sans';text-decoration:underline}

.detaildiv{width:90%;  margin:0 auto}
.detailimg{
    height: 500px;
    border-radius: 0px 0px 10px 10px; position:relative; margin-top:-60px
}
.detaildiv p{padding:0 40px; color:#626a7e; line-height:35px}
.detailimg img{max-height:500px}
.detaildiv p img{max-width:80%!important; height:auto!important; margin:30px auto; display:block}
.detaildiv p iframe{max-width:90%!important; height:auto!important; margin:30px auto; display:block}
.detailheader{
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #3f74ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 116, 255, 0.9)), to(rgba(63, 116, 255, 0.9))), url(images/detailbg.jpg);
    background-image: linear-gradient(
180deg, rgba(63, 116, 255, 0.9), rgba(63, 116, 255, 0.9)), url(images/detailbg.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, repeat;
}
.detailheader h4{
     margin-top: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 33px;
    line-height: 46px;; font-family:NizarBold; display:block;
    text-align: center; margin-bottom:10px
}

.liner-wrapper2 {
    position: relative;
    width: 180px;
    margin:0 auto
}
.line-divider2 {
    height: 1px;
    margin-top: 0px;
    background-color: #fff;
}
.liner-dot2 {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: -3px;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background-color: #fff;
}
.liner-dot2.right {
    left: auto;
    top: auto;
    right: 0%;
    bottom: -3px;
}
.gallerysection{width:250px; height:190px; margin:10px; display:inline-block; vertical-align:top}
.topmeun{
    background: #727272;
  width:100%;   min-width:1200px; direction:rtl; padding-top:2px
}
.containeritem{
  display:inline-block; 
  color:#cacaca; width:48%; text-align:right ;font-family:'Open Sans'; font-size:13px; direction:ltr
}
.containeritem2
{
    display:inline-block; width:50%;
    color:#cacaca; font-size:13px;  text-align:left; direction:ltr
}
.containeritem2 i{font-size:18px}
.containeritem2 a{color:#cacaca; font-family:'Open Sans'; font-weight:300; margin-right:10px}
.containeritem i{margin:0 5px 0 20px; color:#cacaca; font-size:16px}
.containeritem a{color:#cacaca}
.lastitem{border:none}
.rightitem{float:right}
.languagepicker {
	display: inline-block;
	padding: 0;
	height: 30px;
	overflow: hidden;
	margin: 0;
	vertical-align: top;
	float: right;
    background-color:#fff; margin-top:-3px
}
.languagepicker:hover {
	/* don't forget the 1px border */
	height: 90px; position:absolute; right:0; z-index:100000

}
.languagepicker a{
	color: #000;
	text-decoration: none; font-size:12px; font-weight:500}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 30px;
}
.languagepicker li:hover{
	background-color: #EEE;
}
.languagepicker a:first-child li {
	border: none;
	background: #FAFAFA !important;
}

.languagepicker li img {
	margin-right: 5px;
}

.toptiplang{ display:inline-block; text-align:right; direction:rtl;color:#c5c5c5;font-weight:500;  font-size:12px; vertical-align:top; margin-top:15px }
.toptiplang i{color:#00adf2; font-size:16px; display:inline-block; margin-top:5px; vertical-align:top; margin-left:10px; vertical-align:-0.125em}
.toptiplang a{ color:#606060;  font-weight:normal; font-family:'Droid Arabic Naskh';font-size:12px!important; display:inline-block; margin:0 5px; line-height:30px; display:inline-block; vertical-align:top}
.toptiplang a:visited{ color:#606060;  font-weight:300; font-family:'Lato';  display:inline-block; margin:0 10px}
.toptiplang a:hover{ color:#606060;}











.image {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
    height: 100%;
    width: 100%; vertical-align:middle; object-fit: cover; width:100%; height:100%;
     
}
.image img {
  position : relative;
 -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  object-fit: cover; width:100%; height:100%; 
 
}
.image img:hover {
  position: relative;   
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.9;
}
