@model lawzand.Models.infotbl
@{

    ViewBag.Title = "اتصل بنا";
    Layout = "~/Views/Shared/_Arabic.cshtml";
}

<div class="maincontent">
    <div class="header">
        <h4>اتصل بنا</h4>
        <div class="liner-wrapper"><div class="line-divider"></div><div class="liner-dot"></div><div class="liner-dot right"></div></div>
    </div>
    <div class="detaildiv">
        @Html.Raw(Model.contactdetail)



        <br />
    </div>
</div>
<div class="partner">

</div>